{%- set client = salt['grains.filter_by']( {}, merge=salt['pillar.get']('katello:client')) %}

{%- load_yaml as server_defaults %}
RedHat:
  pkgs:
  {% if grains.os == 'CentOS' %}
  - katello 
  - rubygem-smart_proxy_salt 
  - tfm-rubygem-foreman_salt.noarch 
  - foreman-vmware 
  - foreman-ec2.noarch 
  - foreman-ovirt.noarch 
  - foreman-libvirt.noarch 
  - tfm-rubygem-foreman_hooks.noarch 
  - salt-api
  - tfm-rubygem-foreman_bootdisk 
  - pulp-admin-client
  {% else %}
  - katello 
  - rubygem-smart_proxy_salt 
  - tfm-rubygem-foreman_salt.noarch 
  - foreman-vmware 
  - foreman-ec2.noarch 
  - foreman-ovirt.noarch 
  - foreman-libvirt.noarch 
  - tfm-rubygem-foreman_hooks.noarch 
  - salt-api 
  - tfm-rubygem-foreman_bootdisk 
  - pulp-admin-client
  {% endif %}
{%- endload %}

{%- set server = salt['grains.filter_by'](server_defaults, merge=salt['pillar.get']('katello:server')) %}

